.navbar {
  width: 100%;
  background-color: orange;
  overflow: auto;
}
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: #000; 
}
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;

}}
.hp{
  text-align: center;
  margin: 5%;
  font-size: 50px;
}

.p{
  display: flex;
  flex-direction: row; 
  flex-wrap: nowrap; 
  justify-content: flex-start; 
  align-content: stretch; 
  align-items: baseline;
  margin: 3%;
}

.pro{
  width: 100%;
  height: 50%;
}

.lin{
  border-top: solid;
  border-color: #FCA311;
}

.destaques{
  display: flex;
  flex-direction: row; 
  flex-wrap: nowrap; 
  justify-content: flex-start; 
  align-content: stretch; 
  align-items: baseline;
  margin: 3%;
}

.des{
  width: 35%;
  height: 30%;
}
.imagens{
  width: 30%;
  float: left;
  margin-right: 5%;
}

.preed{
  width: 65%;
  float: left;
}

h2{
  text-align: center;
  margin: 3%;
  font-size: 38px;
}

h3{
  text-align: left;
  margin: 3%;
}

.lin{
  border-top: solid;
  border-color: #FCA311;
  opacity: 2;
}

.pre{
  text-align: left;
  margin: 3%;
  font-size: 30px;
  color: #FCA311;
}

.fre{
  text-align: center;
  margin: 3%;
  font-size: 28px;
}

.descr{
  width: 96%;
  margin: 2%;
}

.cima{
  width: 96%;
  margin: 2%;
}

#rodape{
  background-color: orange;
  width: 100%;
  border-radius: 2%;
  opacity: 0.8;
}

#rc{
  display: flex;
  flex-direction: row; 
  flex-wrap: nowrap; 
  justify-content: flex-start; 
  align-content: stretch; 
  align-items: baseline;
  margin: 1% 4%;
  padding-top: 2%;
}

.tr{
  width: 30%;
  padding-left: 5%;
}

.pl{
  color: white;
  padding-left: 2%;
  text-align: left;
}

.dp{
  color: white;
  opacity: 0.8;
  text-align: left;
  padding-left: 2%;
}

.linro{
  border-top: solid;
  border-color: white;
  opacity: 0.7;
  margin-left: 3%;
  margin-right: 3%;
}

#rb{
  display: flex;
  flex-direction: row; 
  flex-wrap: nowrap; 
  justify-content: flex-start; 
  align-content: stretch; 
  align-items: baseline;
  margin: 1%;
}

#da{
  margin-right: 10%;
  text-align: left;
  color: #cdced0;
  margin-left: 2%;
}

.label-cadastro{
    width: 300px;
}

.corpinho{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.caixinha{
    
}